html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #86878b; }

body {
  margin: 0; }

.testimonial {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 0;
  padding: 100px 0; }
  .testimonial h2 {
    text-align: center;
    font-size: 3.6rem;
    font-family: Raleway, sans-serif;
    color: #212121; }
  .testimonial .underline {
    width: 64px;
    border-top: 2px solid #ff8b38;
    margin: 0 auto;
    padding-bottom: 30px; }
  .testimonial > p {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 55px; }
  .testimonial .testimonial-first, .testimonial .testimonial-second, .testimonial .testimonial-third {
    width: 33.33333%;
    padding: 0 60px;
    display: inline-block;
    font-size: 1.4rem;
    box-sizing: border-box; }
    .testimonial .testimonial-first .testimonial-text, .testimonial .testimonial-second .testimonial-text, .testimonial .testimonial-third .testimonial-text {
      background-color: #f5f5f5;
      border-radius: 2px;
      padding: 2rem 1rem;
      font-style: italic;
      margin-bottom: 25px;
      position: relative; }
      .testimonial .testimonial-first .testimonial-text::after, .testimonial .testimonial-second .testimonial-text::after, .testimonial .testimonial-third .testimonial-text::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-top-color: #f5f5f5;
        bottom: -20px;
        left: 23px; }
    .testimonial .testimonial-first .photo, .testimonial .testimonial-second .photo, .testimonial .testimonial-third .photo, .testimonial .testimonial-first .customer-name-work, .testimonial .testimonial-second .customer-name-work, .testimonial .testimonial-third .customer-name-work {
      display: inline-block; }
    .testimonial .testimonial-first .customer-name-work, .testimonial .testimonial-second .customer-name-work, .testimonial .testimonial-third .customer-name-work {
      padding-left: 1.3rem;
      vertical-align: top;
      padding-top: 2rem; }
      .testimonial .testimonial-first .customer-name-work .name, .testimonial .testimonial-second .customer-name-work .name, .testimonial .testimonial-third .customer-name-work .name {
        color: #212121;
        font-size: 2rem;
        margin: 0; }
      .testimonial .testimonial-first .customer-name-work .work, .testimonial .testimonial-second .customer-name-work .work, .testimonial .testimonial-third .customer-name-work .work {
        margin: 0; }

.custom-section {
  padding: 65px 0;
  background: url(../img/bg_custom.jpg) no-repeat center;
  background-size: cover;
  text-align: center; }
  .custom-section h2 {
    text-align: center;
    font-size: 3.6rem;
    font-family: Raleway, sans-serif;
    color: #ffffff; }
  .custom-section .underline {
    width: 64px;
    border-top: 2px solid #ffffff;
    margin: 0 auto;
    padding-bottom: 30px; }
  .custom-section p {
    font-size: 1.6rem;
    padding-bottom: 30px; }
  .custom-section button {
    color: #ffffff;
    font-size: 1.5rem;
    border: 2px solid #ffffff;
    padding: 1.1rem 3rem;
    background-color: transparent; }

/*# sourceMappingURL=main.css.map */
