/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /reset */

body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

/* header */

header{
    background-image: url(img/bg_header.jpg);
    background-size: cover;
}

/* header-nav */

.header-nav.container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo{
    float: left;
    padding-top: 38px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    list-style-type: none;
    padding: 41px 28px;
    border-bottom: 2px solid transparent;
}

nav li a{
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #cbccd3;
}

nav li:last-of-type{
    padding-right: 0;
}

nav li:hover{
    border-bottom: 2px solid #fff;
}

nav li:hover a{
    color: #fff;
}

/* /header-nav*/
/* banner */

.banner{
    text-align: center;
    padding: 140px 0 155px;
    color: #fff;
}

.banner h2{
    font-size: 65px;
    line-height: 71px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 25px;
    font-weight: bold;
    max-width: 875px;
    margin: 0 auto;
}

.banner p{
    font-family: Raleway, sans-serif;
    font-size: 22px;
    line-height: 33px;
    padding-bottom: 73px;
    max-width: 925px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 15px 44px 16px 55px;
    color: #fff;
    background-color: #e84545;
    border-radius: 2px;
    border: 1px solid transparent;

}

.btn:hover{
    background-color: #3a3e64;
    border: 1px solid #fff;
}

/* /banner */
/* /header */

/* features */

.features{
    font-size: 0;
    text-align: center;
    padding: 87px 0 89px;
}

.features-item{
    padding: 35px 45px;
    width: 300px;
    display: inline-block;
}

.features-item-name{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: 30px 0 20px;
}
.features-item p{
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
}
/* /features */

/* projects */
.projects{
    font-size: 0;
    overflow: hidden;
}

.project-item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 25%;
    min-height: 350px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

.project-item img{
    display: block;
    width: auto;
    height: 100%;
}

.project-item1,
.project-item5{
    border-left: none;
}

.project-name{
    display: none;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgba(232, 69, 69, 0.9);
    text-align: center;
}

.project-name h3{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20%;
}

.project-name p{
    text-transform: capitalize;
}

.project-item:hover .project-name{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* /projects */

/* team */
.team{
    font-size: 0;
    padding-top: 100px;
    padding-bottom: 130px;

}

.team-item{
    display: inline-block;
    width: 270px;
    padding-right: 30px;
    font-family: Raleway, sans-serif;

}

.team-item:last-of-type{
    padding-right: 0;
}

.team-name{
    color: #2d3033;
    font-size: 22px;
    margin-top: 27px;
    margin-bottom: 7px;
}

.team-post{
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.team-desc{
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}

.team-social-btn{
    display: inline-block;
    border: 1px solid #e8ecee;
    width: 38px;
    height: 38px;
    margin-right: 4px;
}

.team-social-btn:hover{
    border: 1px solid #313454;
    background-color: #313454;
}

.team-fb{
    background: url(img/team-fb.png) center no-repeat;
}

.team-tw{
    background: url(img/team-tw.png) center no-repeat;
}

.team-in{
    background: url(img/team-in.png) center no-repeat;
}

/* /team */

/* footer */

footer{
    font-family: Raleway, sans-serif;
    font-size: 0;
    text-align: center;
}

.footer-contacts{
    background-color: #3a3e64;
    padding-top: 69px;
    padding-bottom: 105px;
}

.footer-contacts-name{
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.footer-contacts p{
    color: #9d9fb2;
    padding-top: 11px;
    line-height: 23px;
}

.location,
.social,
.about{
    display: inline-block;
    width: 33.33333333%;
    font-size: 14px;
    vertical-align: top;
}

.social-btn{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 2px;
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-right: 3px;
}

.social-btn:hover{
    background-color: #e84545;
    border: 2px solid #e84545;
}

.fb{
    background: url(img/fb.png) center no-repeat;
}

.tw{
    background: url(img/tw.png) center no-repeat;
}

.in{
    background: url(img/in.png) center no-repeat;
}

.footer-copyright{
    background-color: #313454;
    padding: 28px 0;
    color: #808080;
    font-size: 14px;
}

.footer-copyright a{
    text-decoration: none;
    color: #fff;
    line-height: 25px;
}

.footer-copyright a:hover{
    text-decoration: underline;
}
/* /footer */
