html{
	font-family: Montserrat, sans-serif;
}

/* nav */
nav{
	width: 100%;
    background-color: #373c3f;
    color: #fff;
	padding: 0.67rem 0;
	position: relative;
}

nav ul, #go{
	display: none;
}

nav ul{
	padding: 0;

}

nav label, nav li{
	cursor:pointer;
}

nav label{
	padding-left: 1.67rem;
	display: block;
}

#go:checked ~ ul {
    display:block;
}

#go:checked ~ label>.menu{
	display: none;
}

nav li{
	list-style-type: none;
	border-top: 1px solid rgb(102, 0, 0);
	padding: 0.67rem 0 0.67rem 1.33rem;
	
}

nav li:last-of-type{
	padding-bottom: 0; 
}

nav a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: block;
}

.menu{
	background: url(img/menu.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	width: 3.33rem;
	height: 100%;
}

/* /nav */

/* banner */
.banner{
	background-color: #0993ab;
    padding: 3.57rem 3.33rem 4.4rem 2rem;
}

.banner h2 {
    color: #fff;
	font-size: 1.5rem;
	font-weight: 200;
	padding-right: 2rem;
	letter-spacing: 0.8px;
	line-height: 1.1;
}

.banner a{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	position: relative;
	display: block;
	font-size: 0.75rem;
}

.banner a span{
	position: absolute;
	height: 0.83rem;
	width: 0.5rem;
	background: url(img/icon_right.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	right: 2.67rem;
}

/* /banner */

/* text-box */
.text-box{
	padding: 2rem 0 1.67rem 2.25rem;
	background-color: #27212c;
	color: #867793;
	position: relative;
	font-size: 0.75rem;
}
.text-box span{
	width: 6rem;
	height: 100%;
	background: #bc3183 url(img/icon_right.png) no-repeat center;
	-webkit-background-size: 21%;
	background-size: 21%;
	position: absolute;
	top: 0;
	right: 0;
}
/* /text-box */

/* pictures */
.image{
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 23rem;
}

.first{
	background-color: #5b0fa1;
	background-image: url(img/icon_right.png);
	-webkit-background-size: auto;
	background-size: auto;
}

.second{
	background-image: url(img/2.jpg);
}

.third{
	background-image: url(img/3.jpg);
}
/* /pictures */

/* description */
.description{
	padding: 1.3rem 2.92rem 3rem 3.083rem;
}

.description h3{
	color: #46a7ba;
	font-weight: normal;
	font-size: 1.35rem;
}

.description p{
	/*padding-top: 0.5rem;*/
	font-size: 1.2rem;
	line-height: 1.35;
}

.description .second-block{
	display: none;
}
/* /description */

@media only screen and (min-width: 320px){
	html{
		font-size: 12px;
	}
}

@media only screen and (min-width: 640px){
	html{
		font-size: 24px;
	}

	nav{
		padding: 0.9rem 0;
	}

	nav label{
		padding-left: 1.47rem;
	}

	.menu{
		width: 3.4rem;
	}

	.banner{
		padding-top: 3.3rem;
	}

	.text-box{
		padding-bottom: 1.8rem;
	}

	.description p{
		font-size: 1rem;
		line-height: 1.7;
	}
}

@media only screen and (min-width: 980px){
	html{
		font-size: 14px;
	}

	/* nav */

	nav{
		padding-top: 1.3rem;
		
		letter-spacing: 0.7px;
	}
	
	nav label{
		display: none;
	}

	nav ul{
		display: block;
		padding-left: 2.3rem;
	}

	nav ul li{
		display: inline-block;
		border: none;
	}

	/* /nav */

	/* banner */

	.banner{
		padding-top: 9rem;
		padding-left: 5.5rem;
		padding-bottom: 10.5rem;
	}

	.banner h2{
		font-size: 4.5rem;
		letter-spacing: 0.2px;
	}

	.banner a{
		font-size: 2rem;
	}

	.banner a span{
		height: 2rem;
		width: 1.5rem;
		right: 12rem;
	}

	/* /banner */

	/* text-box */

	.text-box{
		font-size: 2rem;
		padding: 5rem 0 5rem 6rem;
	}

	.text-box span{
		width: 15.5rem;
	}

	/* /text-box */

	/* pictures */

	.pictures{
		font-size: 0;
	}

	.image{
		display: inline-block;
		width: 33.3333%;
		height: 20rem;
	}

	/* /pictures */

	/* description */

	.description{
		font-size: 0;
		padding-top: 2.5rem;
	}

	.description h3{
		font-size: 2rem;
		padding-left: 2rem;
		margin-bottom: 0;
	}

	.description .text{
		display: inline-block;
		width: 30.85rem;
		padding: 0.5rem 2rem 3.5rem 2.5rem;
		font-size: 1.35rem;
		box-sizing: border-box;
	}

	/* /description */
}
@media only screen and (min-width: 1024px){
	.banner{
		padding-top: 10rem;
		padding-bottom: 11.5rem;
	}

	.text-box{
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
	}

	.text-box span{
		width: 16.5rem;
	}

	.image{
		height: 21rem;
	}

	.description{
		padding-top: 1.5rem;
	}

	.description .text{
		width: 33rem;
	}
}