$primary-color: #86878b
$second-color: #212121
$third-color: #ffffff

html
    font-size: 10px
    font-family: 'Open Sans', sans-serif
    color: $primary-color

body
    margin: 0

.testimonial
    max-width: 1170px
    margin: 0 auto
    font-size: 0
    padding: 100px 0
    
    h2
        text-align: center
        font-size: 3.6rem
        font-family: Raleway, sans-serif
        color: $second-color

    .underline
        width: 64px
        border-top: 2px solid #ff8b38
        margin: 0 auto
        padding-bottom: 30px

    >p
        text-align: center
        font-size: 1.4rem
        padding-bottom: 55px

    .testimonial-first
        width: (100% / 3)
        padding: 0 60px
        display: inline-block
        font-size: 1.4rem
        box-sizing: border-box

        .testimonial-text
            background-color: #f5f5f5
            border-radius: 2px
            padding: 2rem 1rem
            font-style: italic
            margin-bottom: 25px
            position: relative

            &::after
                content: ''
                position: absolute
                border: 10px solid transparent
                border-top-color: #f5f5f5
                bottom: -20px
                left: 23px

        .photo, .customer-name-work
            display: inline-block

        .customer-name-work
            padding-left: 1.3rem
            vertical-align: top
            padding-top: 2rem

            .name
                color: $second-color
                font-size: 2rem
                margin: 0

            .work
                margin: 0


    .testimonial-second, .testimonial-third
        @extend .testimonial-first

.custom-section
    padding: 65px 0
    background: url(../img/bg_custom.jpg) no-repeat center
    background-size: cover
    text-align: center

    h2
        text-align: center
        font-size: 3.6rem
        font-family: Raleway, sans-serif
        color: $third-color

    .underline
        width: 64px
        border-top: 2px solid $third-color
        margin: 0 auto
        padding-bottom: 30px

    p
        font-size: 1.6rem
        padding-bottom: 30px

    button
        color: $third-color
        font-size: 1.5rem
        border: 2px solid $third-color
        padding: 1.1rem 3rem
        background-color: transparent